/*========================================================================
                         Default Font Configuration
========================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*========================================================================
                         Default Font Configuration
========================================================================*/
:root {
  --primary-color: #01c29a;

  --background-color: #000000;
  --surface-color: #121418; /*#ffffff;*/
  --highlight-color: #1b1f24;
  --p_text-color: #ffffff;
  --s_text-color: #ffffff;
  --p_icon-color: #2e2e30;
  --s_icon-color: #919191;
  --danger-color: #de425a;
  --success-color: #4db384;

}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background: var(--background-color);
}

/*======================================================================
                          Default text styling
=======================================================================*/
h1,
h2,
h3,
h4,
h5,
a,
label,
span,
p {
  font-family: 'Open Sans', sans-serif;
  color: var(--p_text-color);
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  font-size: .9rem;
  font-weight: 700;

}

a {
  font-size: .7rem;
  font-weight: 400;
  text-decoration: none;
}

p, label {
  font-size: .7rem;
  font-weight: 500;
}

span {
  font-weight: 700;
  font-size: 0.7rem;
}

.danger {
  color: var(--danger-color);
}

/*======================================================================
                          Default list styling
=======================================================================*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*========================================================================
                         Scrollbar Styling
========================================================================*/
::-webkit-scrollbar-track {
  border: 1px solid var(--p_text-color);
  background-color: #F5F5F5;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
  border-radius: 2px;

}

::-webkit-scrollbar-thumb {
  background-color: var(--surface-color);
  border-radius: 2px;
}

/*========================================================================
                         Authentication Screen
========================================================================*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 100vh;
}

.authentication-form {
  height: 420px;
  width: 250px;
  padding: 20px 25px;
  background-color: var(--surface-color);
  box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-title {
  text-align: center;
}

.alert-danger {
  text-align: center;
  font-size: .9rem;
  color: var(--danger-color);
}

.alert-info {
  text-align: center;
  font-size: .9rem;
  color: var(--success-color);
}

.form-input {
  all: unset;
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Lora", serif;
  width: 100%;
  color: var(--p_text-color);
  background: var(--highlight-color);
}

.col {
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--p_text-color);
  border-radius: 2px;
  align-items: center;
  background: var(--highlight-color);

}

label {
  display: flex;
  align-items: center;
}

.label-icon {
  width: 18px;
  height: 18px;
}

.submit-btn {
  all: unset;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Lora", serif;
  font-style: normal;
  color: var(--s_text-color);
  padding: 5px 0;
}

.danger-btn {
  all: unset;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--danger-color);
  cursor: pointer;
  font-size: .7rem;
  font-family: "Lora", serif;
  font-style: normal;
  color: var(--s_text-color);
  padding: 5px 0;
  width: 100%;
}

.register-text {
  text-align: right;
}

.register-btn {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: .8rem;
}


/*========================================================================
                               Images Screen
========================================================================*/
#main {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 20px);
}

.header-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: var(--highlight-color);
}

li {
  padding: 10px !important;
}

li:hover {
  border-bottom: 1px solid var(--p_text-color);
}

.header-navbar a {
  font-size: 1rem;
}

.list-element {
  padding: 20px 0 !important;
}

.main-content {
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: var(--highlight-color);

}


.image-container {
  width: 150px;

  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--surface-color);
  overflow: hidden;


}

.image-element {
  width: 100px;
  height: 100px;
  padding: 20px;
}

nav .control-navbar {
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: var(--highlight-color);
  margin-bottom: 10px;

}

.non-size {
  width: auto !important;
}

form .navbar-form {
  all: unset;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.file-upload-label {
  padding: 10px 0;
  font-size: 1rem;
}

.delete-image-form {
  width: 100%;
}

.image-title {
  font-size: .8rem;
  user-select: text !important;

}

.select-element {
  user-select: text !important;
}

.unset-list-elem {
  all: unset;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-bar {
  flex: 1;
  height: 100vh;
  background: var(--highlight-color);
}

.side-bar-list {
  width: 100%;
}

.list-element {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-element {
  background: var(--surface-color);
}

.side-bar-text {
  font-size: 1em;
  text-align: center;
  width: 100%;
}

/*========================================================================
                               Article Screen
========================================================================*/
.table-container {
  flex: 1;
}

.article-table {
  width: 100%;
  border: none;
  background: var(--highlight-color);
  border-collapse: collapse;

}

.table-header {
  background: var(--surface-color);
}

.table-cell {
  padding: 10px;
  border-bottom: 1px solid var(--surface-color);
}

.new-post-btn {
  width: 100px;
  margin: 0 !important;
  padding: 10px 0 !important;
}

.additional-width {
  width: 200px !important;
}

/*========================================================================
                            Post Creation Screen
========================================================================*/
.post-form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-field {
  width: 100%;
}

.post-form-col {
  background: var(--highlight-color);
}

.form-label {
  font-size: 1.1rem;
}

.post-input-field {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.m-r-10 {
  margin-right: 10px
}


.m-t-10 {
  margin-top: 10px
}

.table {
  width: 100%;
}

.image {
  width: 30px;
  height: 30px;
}

.text-white {
  text-decoration: none !important;
}

.right-align {
  display: flex;
  justify-content: flex-end;

}

.center-align {
  text-align: center;
}