<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="app">

    <main id="main">
        <header class="header-main">
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="nav-container">
                    <div class="navbar-element disable-hover">
                        <a href="/"><h3>ANTIDEMO</h3></a>
                    </div>
                </div>
                <div class="navbar-element disable-hover">
                    <input type="text" class="search-input" id="search-input"/>
                    <button class="search-btn" >Search</button>
                </div>
            </nav>
        </header>
        <ul class="main-content" id="articles-list">
            <li class="image-container" th:each="article : ${articles}" style="display: flex; flex-direction: column; align-items: center; justify-content: center">
                <img class="image-element" th:alt="${article.title}" th:src="@{${'/image/' + article.posterId}}"
                     th:title="${article.title}"/>
                <a class="image-title" th:href="@{${'http://localhost:8082/image/' + article.posterId}}" th:text="${article.title}"/>
                <a  th:href="@{${'/index/article/' + article.id}}" class="delete-image-form">
                    <button type="submit" class="danger-btn">Read more...</button>
                </a>
            </li>
        </ul>
    </main>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/js/script.js}"></script>

</body>

</html>